*{
    margin: 0%;
}
.header{
    background-color: #A2CCD2;
    height: 100px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.header h1{
    color: white;
}
.banner{
    background-color: #FF9285;
    height: 250px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
   overflow: hidden;
}
.left_content{
    background-color: #BCCDE3;
    height: 250px;
    width: 50%;
    text-align: center;
    color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_content{
    background-color: #CE9CAA;
    height: 250px;
    width: 50%;
    text-align: center;
    color: white;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    overflow: hidden;
}
.item_one{
     background-color: #CE9CAA;
     height: 250px;
     width: 33.33%;
     text-align: center;
     color: white;
     float: left;
     display: flex;
     justify-content: center;
     align-items: center;
}
.item_two{
     background-color: #FF9285;
     height: 250px;
     width: 33.33%;
     text-align: center;
     color: white;
     float: left;
     display: flex;
     justify-content: center;
     align-items: center;
}
.item_three{
    background-color: #BCCDE3;
    height: 250px;
    width: 33.33%;
    text-align: center;
    color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: #49526D;
    height: 100px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
